{% extends 'base.html' %}

{% block content %}
<style type="text/css">
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

</style>

<div class="card shadow li-3 mb-5 bg-white rounded">
  <div class="card-body text-center ">
    <h3>
      {{customer.name|title}}
    </h3>
    <h6>{{policies.count}} Policies</h6>
    <ul>More Details ->
      <li>Gender: <span class="font-weight-bold"> {{customer.gender|title}}</span></li>
      <li>Income Group: <span class="font-weight-bold">{{customer.income_group}}</span></li>
      <li>Region: <span class="font-weight-bold"> {{customer.region|title}}</span></li>
      <li>Martial Status: <span class="font-weight-bold">{{customer.marital_status|title}}</span></li>
    </ul>
    <a href="{% url 'base:updateCustomer' customer.id %}" class="btn btn-success btn-lg my-2" role="button"
      aria-disabled="true">Edit Details</a>
  </div>
</div>

{% include 'policy/policy_table.html' %}

{% endblock %}
