<div class="container">

  <div class="d-flex justify-content-between align-items-center">
    <form id="filterForm" class="form-horizontal col-3">
      <label for="year">Choose a year:</label>
      <select name="year" id="year"></select>
      <label for="region">Choose a Region:</label>
      <select name="region" id="region"></select>
      <input type="submit" value="Load" name="_load" class="btn-success" />
    </form>
    <canvas id="policyChart" class="col-8"></canvas>
  </div>
</div>
{% block inline_javascript %}
<script>
  $(document).ready(function () {
    $.ajax({
      url: "chart/filter-options/",
      type: "GET",
      dataType: "json",
      success: (jsonResponse) => {
        // Load all the options
        jsonResponse.year_options.forEach((option) => {
          $("#year").append(new Option(option, option));
        });

        jsonResponse.region_options.forEach((option) => {
          $("#region").append(new Option(option, option));
        });

        // Load data for the first option
        loadAllCharts($("#year").children().first().val(), $("#region").children().first().val());
      },
      error: () => console.log("Failed to fetch chart filter options!"),
    });
  });

  $("#filterForm").on("submit", (event) => {
    event.preventDefault();

    const year = $("#year").val();
    const region = $("#region").val();
    loadAllCharts(year, region);
  });

  function loadChart(chart, endpoint) {
    $.ajax({
      url: endpoint,
      type: "GET",
      dataType: "json",
      success: (jsonResponse) => {
        // Extract data from the response
        const title = jsonResponse.title;
        const labels = jsonResponse.data.labels;
        const datasets = jsonResponse.data.datasets;

        // Reset the current chart
        chart.data.datasets = [];
        chart.data.labels = [];

        // Load new data into the chart
        chart.options.title.text = title;
        chart.options.title.display = true;
        chart.data.labels = labels;
        datasets.forEach((dataset) => {
          chart.data.datasets.push(dataset);
        });
        chart.update();
      },
      error: () =>
        console.log("Failed to fetch chart data from " + endpoint + "!"),
    });
  }

  function loadAllCharts(year, region) {
    loadChart(policyChart, `chart/policy/${year}/${region}`);
  }

</script>
<script>
  let policyCtx = document.getElementById("policyChart").getContext("2d");
  let policyChart = new Chart(policyCtx, {
    type: "bar",
    options: {
      responsive: true,
    },
  });

</script>
{% endblock inline_javascript %}
</div>
