<style>
  th>a {
    color: white;
  }

</style>

<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col"><a href="?order_by=id">Policy</a></th>
      <th scope="col"><a href="?order_by=fuel">Fuel</a></th>
      <th scope="col"><a href="?order_by=customer">Customer</a></th>
      <th scope="col"><a href="#">Region</a></th>
      <th scope="col"><a href="?order_by=created_at">Date Of Purchase</a></th>
      <th scope="col"><a href="?order_by=vehicle_segment">Vehicle Segment</a></th>
      <th scope="col"><a href="?order_by=premium">Premium</a></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for policy in policies %}
    <tr>
      <th scope="row">{{ policy.id }}</th>
      <td>{{policy.fuel}}</td>

      <td class="font-weight-bold">
        <a href="{% url 'base:customerDetail' policy.customer.id %}">
          {{policy.customer}}
        </a>
      </td>
      <td>{{policy.customer.region|title }}</td>
      <td>{{policy.created_at | date:"M d, Y" }}</td>
      <td>{{policy.vehicle_segment}}</td>
      <td>{{policy.premium}}</td>
      <td>
        <a href="{% url 'base:updatePolicy' policy.id %}" class="text-success">Update</a>
      </td>
      <td>
        <a href="{% url 'base:deletePolicy' policy.id %}" class="text-danger">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
