{% extends 'base.html' %}

{% block content %}
<style>
  a {
    color: white;
  }

</style>

<div class="header">
  <a href="{% url 'base:createPolicy' %}" class="btn btn-success btn-lg my-2" role="button"
    aria-disabled="true">AddPolicy</a>

  <form class="header__search" method="GET" action="{% url 'base:policies' %}">
    <label>
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <title>search</title>
        <path
          d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z">
        </path>
      </svg>
      <input placeholder="Search for policies..." name="q" />
    </label>
  </form>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"><a href="?order_by=id">Policy</a></th>
      <th scope="col"><a href="?order_by=fuel">Fuel</a></th>
      <th scope="col"><a href="?order_by=customer">Customer</a></th>
      <th scope="col"><a href="?order_by=created_at">Date Of Purchase</a></th>
      <th scope="col"><a href="?order_by=vehicle_segment">Vehicle Segment</a></th>
      <th scope="col"><a href="?order_by=premium">Premium</a></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for policy in policies %}
    <tr>
      <th scope="row">{{ policy.id }}</th>
      <td>{{policy.fuel}}</td>
      <td>{{policy.customer}}</td>
      <td>{{policy.created_at | date:"M d, Y" }}</td>
      <td>{{policy.vehicle_segment}}</td>
      <td>{{policy.premium}}</td>
      <td>
        <a href="{% url 'base:updatePolicy' policy.id %}" class="text-success">Update</a>
      </td>
      <td>
        <a href="{% url 'base:deletePolicy' policy.id %}" class="text-danger">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
