{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ policy.id }}{% endblock %}
{% block content %}

<div class="card shadow p-3 mb-5 bg-white rounded">
  <div class="card-header text-white bg-dark">
    {{form_name }}
  </div>
  <div class="card-body">
    {{ form.media }} {# Adds date-picker required JS and CSS #}
    <form class="form-horizontal" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-6">
          {{ form.fuel|as_crispy_field }}
        </div>
        <div class="col-6">
          {{ form.customer|as_crispy_field }}
        </div>
        <div class="col-6">
          {{ form.vehicle_segment|as_crispy_field }}
        </div>
        <div class="col-6">
          {{ form.premium|as_crispy_field }}
        </div>
        <div class="col-12">
          {{ form.date_of_purchase|as_crispy_field }}
        </div>
        <div class="col-4">
          {{ form.comprehensive|as_crispy_field }}
        </div>
        <div class="col-4">
          {{ form.bodily_injury_liability|as_crispy_field }}
        </div>
        <div class="col-4">
          {{ form.personal_injury_liability|as_crispy_field }}
        </div>
        <div class="col-4">
          {{ form.property_damage_liability|as_crispy_field }}
        </div>
        <div class="col-4">
          {{ form.collision|as_crispy_field }}
        </div>

      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock content %}
